{% extends 'base.html' %}
{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{% if product %}{{ product.Name }}{% else %}Add a new Product{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="w-full">
                    <label for="id_Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
                    {{ form.Name }}
                    {% if form.Name.errors %}
                        <div class="text-red-500 text-sm">{{ form.Name.errors }}</div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="id_Suppliers" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Suppliers</label>
                    {{ form.Suppliers }}
                    {% if form.Suppliers.errors %}
                        <div class="text-red-500 text-sm">{{ form.Suppliers.errors }}</div>
                    {% endif %}
                </div>
                <div class="w-full col-span-2">
                    <label for="id_Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    {{ form.Description }}
                    {% if form.Description.errors %}
                        <div class="text-red-500 text-sm">{{ form.Description.errors }}</div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="id_Price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                    {{ form.Price }}
                    {% if form.Price.errors %}
                        <div class="text-red-500 text-sm">{{ form.Price.errors }}</div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="id_StockQuantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock Quantity</label>
                    {{ form.StockQuantity }}
                    {% if form.StockQuantity.errors %}
                        <div class="text-red-500 text-sm">{{ form.StockQuantity.errors }}</div>
                    {% endif %}
                </div>

            </div>
            <button type="submit" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5">
                {% if product %}Update Product{% else %}Add Product{% endif %}
            </button>
            <a href="{% url 'product_list' %}" class="inline-flex items-center mt-4 text-gray-700 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Cancel</a>
        </form>
    </div>
</section>
{% endblock %}
